{% extends "layout.html" %} {% block content %}

<h1>{% block postName %}New Post{% endblock postName %}</h1>

<form class="{% block postClass %}newpost{% endblock postClass %}" action="/{% block postAction %}newpost{% endblock postAction %}" method="post">

    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" name="subject" class="form-control" id="subject" aria-describedby="subject" placeholder="Enter subject" value="{{subject}}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content" rows="8" cols="80" placeholder="Enter content here">{{content}}</textarea>
    </div>

    <div class="error">
        {{error}}
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="submit" name="" value="Submit">
      </div>
      <div class="col-md-6 text-right">

      </div>


    </div>

</form>
{% block button %}
{% endblock %}
{% endblock content %}
